src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="125b3598-e627-4d04-9a24-6e384e8fd6f1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="cbc02fc3-be75-49f8-b8b9-5693784193e7" >
		<http:listener doc:name="Listener" doc:id="737dd79b-b41a-44fe-b45b-3e58ddafaedb" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["This is to test CICD Auto Deployment !!!"]' doc:name="Set Payload" doc:id="2b662ee5-4f38-4de2-8f13-50f899562102" />
	</flow>
</mule>
